@model IEnumerable<subd.VIngredient>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    @using (Html.BeginForm("SelectedIndexChanged", "VIngredients", FormMethod.Post))
    {
        <div>
            @Html.DropDownList("VIngredientsList", ViewBag.VIngredientsList as List<SelectListItem>, "Select Ingredient", new { @class = "form-control", @onchange = "SelectedValue(this)" })
        </div>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raw)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Raw)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>

    function SelectedValue(ddlObject)
    {
        var selectedValue = ddlObject.value;
        window.location.href = '@Url.Action("SelectedIndexChanged", "VIngredients")/' + selectedValue;
    }
</script>  